@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-selector {
    padding: 1rem;
    color: #000;
    border-radius: 12px;
    margin-bottom: 1rem;
    position: relative;
}

.video-selector::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 12px;
    margin-right: 1rem;
    transition: all .2s ease-in;
}

.video-selector::file-selector-button:hover {
    transform: translateY(-5px);
}


.screen {
    background-color: #000;
    border-radius: 12px 12px 0 0;
    width: 80%;
    height: 80vh;
}


.menu {
    background-color: #ef233c;
    border-radius: 0 0 12px 12px;
    padding: 1rem 2rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    color: #000;
    font-size: 2.4rem;
    background-color: transparent;
    border: none;
    transition: all .2s ease;
    padding: 0 1.2rem;
}

.btn:hover {
    color: #fff;
}

.timeline {
    margin-left: 2rem;
    margin-right: 2rem;
    flex-grow: 1;

    height: 1rem;
    border-radius: 12px;
    background-color: #000;

    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
}

.timeline::-webkit-slider-thumb,
.timeline::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 3rem;
    background-color: #000;
}

/* Special styling for WebKit/Blink */
.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    background: #ffffff;
    cursor: pointer;
}

.timeline::-moz-range-thumb {
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    background: #ffffff;
    cursor: pointer;
}

.timeline::-ms-thumb {
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 20%;
    background: #ffffff;
    cursor: pointer;
}

.timestamp {
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #000;
    padding: 0.3rem 1rem;
    border-radius: 12px;
}